<template>
  <div class="blogPage">
    <div v-if="articleInfo">
      <div class="blog">
        <h3>{{ articleInfo.title }}</h3>
        <p>{{ articleInfo.body }}</p>
        <div>
          <span
            class="articleTag"
            v-for="tag in articleInfo.tagList"
            :key="tag"
            >{{ tag }}</span
          >
        </div>
        <hr />
        <div class="articleAuthorDetails authorDetails">
          <div>
            <img :src="articleInfo.author.image" />
          </div>
          <div>
            <div>{{ articleInfo.author.username }}</div>
            <div>{{ articleInfo.updatedAt }}</div>
          </div>
        </div>
      </div>
      <form class="commentForm">
        <textarea
          required
          v-model="comment"
          rows="4"
          cols="50"
          placeholder="Post your comment here..."
        >
        </textarea>
        <button type="submit" @click.prevent="postCommentRequest">
          Comment
        </button>
      </form>

      <CommentList ref="commentListing" :slugId="slugId" />
    </div>
    <div v-else>Loading Blog...</div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import commentOperations from "@/utils/commentOperations";
import CommentList from "@/components/CommentList.vue";

export default {
  props: ["slug"],
  components: {
    CommentList,
  },
  setup(props) {
    const slugId = new ref(props.slug);
    let articleInfo = new ref();
    let comment = new ref("");
    const commentListing = ref(null);

    const fetchArticleDetails = async (sludId, onSuccess) => {
      try {
        let response = await fetch(
          "https://conduit.productionready.io/api/articles/" + sludId
        );

        if (response.ok) {
          response = await response.json();
          onSuccess(response);
        } else {
          throw response;
        }
      } catch (err) {
        console.log(err);
      }
    };

    const updatePage = (response) => {
      articleInfo.value = response.article;
    };

    const updateComments = () => {
      comment.value = "";
      commentListing.value.updateComments();
    };
    const postCommentRequest = () => {
      if (comment.value !== "") {
        commentOperations.postComment(
          {
            slugId: slugId.value,
            body: comment.value,
          },
          updateComments
        );
      }
    };
    fetchArticleDetails(props.slug, updatePage);

    return { slugId, articleInfo, comment, postCommentRequest, commentListing };
  },
};
</script>

<style>
.blogPage {
  width: 80%;
  margin: 0 auto;
}

.blog .authorDetails {
  background: none;
}

.blog .authorDetails img {
  width: 50px;
  padding: 10px;
  border-radius: 50px;
}

.commentForm {
  border: solid gray;
  width: 100%;
  margin: 30px auto;
  padding: 30px 0;
  box-sizing: border-box;
  max-width: 720px;
}

.commentForm textarea {
  width: 80%;
}
</style>
