<template>
  <div class="home">
    <nav>
      <button
        :class="{ active: activeNav === 'myfeed' }"
        class="navFilter"
        v-if="user !== ''"
        @click="updateFilter(user.username, 'author')"
      >
        My Articles
      </button>
      <button
        :class="{ active: activeNav === 'global' }"
        class="navFilter"
        @click="updateFilter('')"
      >
        Global Feed
      </button>
      <button
        :class="{ active: activeNav === 'tag' }"
        class="navFilter"
        v-if="tagSelected !== ''"
        @click="updateFilter(tagSelected)"
      >
        #{{ tagSelected }}
      </button>
    </nav>
    <div class="homeFeeds">
      <div class="feedSection">
        <PostList :articleList="articleList" />
        <div class="feedMessage" v-if="waiting">Loading...</div>
        <div
          class="feedMessage"
          v-if="!articleList.length && activeNav === 'myfeed' && !waiting"
        >
          No Articles to show. Please create a new article.
        </div>
      </div>

      <div class="tagsSection">
        <TagsMap @tagClick="updateFilter" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PostList from "@/components/PostList.vue";
import TagsMap from "@/components/TagsMap.vue";
import articlesRequest from "@/utils/getArticles";
import { ref } from "@vue/reactivity";
import userManager from "@/utils/userDetails";

export default {
  name: "Home",
  components: {
    PostList,
    TagsMap,
  },
  setup() {
    let articleList = new ref([]);
    let tagSelected = new ref("");
    let activeNav = new ref("global");
    let waiting = new ref(false);
    let { user } = userManager;

    const updateFilter = (tagName, key) => {
      let filterParam = "";
      key = key || "tag";

      waiting.value = true;
      articleList.value = [];
      if (tagName != "") {
        filterParam = "?" + key + "=" + tagName;
        activeNav.value = "tag";
      } else {
        activeNav.value = "global";
      }
      if (key === "tag") {
        tagSelected.value = tagName;
      } else {
        activeNav.value = "myfeed";
      }

      articlesRequest(filterParam)
        .then((data) => {
          articleList.value = data.articles;
          waiting.value = false;
        })
        .catch((e) => {
          waiting.value = false;
          console.log(e);
        });
    };

    updateFilter("");

    return { user, articleList, updateFilter, tagSelected, activeNav, waiting };
  },
};
</script>

<style>
.homeFeeds {
  width: 100%;
  display: flex;
  align-content: space-around;
}
.feedSection {
  width: 75%;
}
.tagsSection {
  width: 25%;
}

.navFilter {
  background: none;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
  width: 200px;
  color: gray;
}

.navFilter.active {
  color: #42b983;
  border-bottom: 2px solid#42b983;
  border-radius: 0;
}

.feedMessage {
  margin-top: 30px;
}
</style>
