<template>
  <div class="postArticle">
    <h3>Post a new article</h3>
    <form @submit.prevent="publish">
      <input v-model="title" required placeholder="Article Title" />
      <input
        required
        v-model="description"
        placeholder="What's this article about?"
      />
      <textarea
        required
        v-model="body"
        placeholder="Write your article"
        rows="10"
      />

      <input
        v-model="tag"
        @keypress.enter.prevent="updateTaglist"
        placeholder="Enter tags (press enter to create tag)"
      />
      <div>
        <span class="articleTag" v-for="tag in tagList" :key="tag">{{
          tag
        }}</span>
      </div>
      <button type="submit">Publish</button>
    </form>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import requestArticlePublish from "@/utils/requestArticlePublish";
import { useRouter } from "vue-router";

export default {
  setup() {
    const title = new ref("");
    const description = new ref("");
    const body = new ref("");
    const tag = new ref("");
    const router = useRouter();
    const tagList = new ref([]);

    const publish = async () => {
      try {
        const response = await requestArticlePublish({
          article: {
            title: title.value,
            description: description.value,
            body: body.value,
            tagList: tagList.value,
          },
        });
        router.push({
          name: "Article",
          params: { slug: response.article.slug },
        });
      } catch (err) {
        console.log(err);
      }
    };

    const updateTaglist = () => {
      let tagName = tag.value.trim();

      if (tagName !== "" && !tagList.value.includes(tagName)) {
        tagList.value.push(tagName);
        tag.value = "";
      }
    };

    return { title, description, body, tag, tagList, publish, updateTaglist };
  },
};
</script>

<style></style>
