<template>
  <div class="myFormContainer">
    <form @submit.prevent="handleSubmit">
      <label>Username</label>
      <input required v-model="username" />

      <label>e-mail</label>
      <input required v-model="email" />

      <label>password</label>
      <input type="password" required v-model="password" />

      <div class="failure">
        <ul id="array-rendering">
          <li v-for="item in errors" :key="item">
            {{ item }}
          </li>
        </ul>
      </div>
      <div>
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
      </div>
    </form>
    <div class="failure"></div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";
import userManager from "@/utils/userDetails.js";

export default {
  setup() {
    const email = new ref("");
    const username = new ref("");
    const password = new ref("");
    const errors = new ref([]);
    const router = useRouter();

    const requestRegistration = (args) => {
      console.log(args);
      return new Promise((resolve, reject) =>
        fetch("https://conduit.productionready.io/api/users", {
          method: "POST",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
          },
          body: args,
        }).then((res) => {
          if (!res.ok) {
            res.text().then((txt) => {
              reject(txt);
            });
          } else {
            resolve(res.json());
          }
        })
      );
    };

    const handleSubmit = async () => {
      errors.value = [];
      try {
        const response = await requestRegistration(
          JSON.stringify({
            user: {
              username: username.value,
              email: email.value,
              password: password.value,
            },
          })
        );

        userManager.setUser(response.user);
        router.push({ name: "Home" });
      } catch (err) {
        let data = {};
        if (typeof err === "string") {
          data = JSON.parse(err);
        }

        console.log(data);
        if (data.errors) {
          Object.keys(data.errors).forEach((erroHeading) => {
            data.errors[erroHeading].forEach((errorDetail) => {
              errors.value.push(erroHeading + " " + errorDetail);
            });
          });
        }
      }

      email.value = "";
      username.value = "";
      password.value = "";
    };

    return { email, username, password, errors, handleSubmit };
  },
};
</script>

<style>
.myFormContainer {
  display: inline-flex;
  vertical-align: top;
}
</style>
