<template>
  <div class="signInContainer">
    <form @submit.prevent="handleSubmit">
      <label>User e-mail</label>
      <input type="email" required v-model="username" />

      <label>Password</label>
      <input type="password" required v-model="password" />

      <div>
        <button v-if="!submitted" type="submit">Submit</button>
        <button v-else type="submit" disabled>Processing...</button>
        <button @click="clearForm">Clear</button>
      </div>

      <div class="failure">
        <ul id="array-rendering">
          <li v-for="item in errors" :key="item">
            {{ item }}
          </li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import userManager from "@/utils/userDetails.js";
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();
    const username = new ref("");
    const password = new ref("");
    const submitted = new ref(false);
    let user;
    let errors = new ref([]);

    if (userManager.user.value !== "") {
      router.push({ name: "Home" });
      user = JSON.parse(userManager.user.value);
    }
    const handleSubmit = async () => {
      submitted.value = true;
      loginRequest(
        JSON.stringify({
          user: {
            email: username.value,
            password: password.value,
          },
        })
      )
        .then((data) => {
          submitted.value = false;

          if (data.errors) {
            Object.keys(data.errors).forEach((erroHeading) => {
              data.errors[erroHeading].forEach((errorDetail) => {
                errors.value.push(erroHeading + " " + errorDetail);
              });
            });
          } else {
            user = data.user;
            userManager.setUser(user);
            router.push({ name: "Home" });
          }
        })
        .catch((e) => {
          console.log(e);
          errors.value.push(e);
          submitted.value = false;
        });
    };

    const loginRequest = async (args) => {
      const response = await fetch(
        "https://conduit.productionready.io/api/users/login",
        {
          method: "POST",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
          },
          body: args,
        }
      );

      if (!response.ok) {
        throw response;
      }

      return await response.json();
    };

    const clearForm = () => {
      username.value = "";
      password.value = "";
      errors.value = [];
    };
    return { username, password, submitted, handleSubmit, clearForm, errors };
  },
};
</script>

<style>
.signInContainer {
  width: 500px;
  margin: 0 auto;
}
</style>
