<template>
  <div class="articleInfo">
    <h3>{{ info.title }}</h3>
    <p>{{ info.description }}</p>

    <div>
      <span class="articleTag" v-for="tag in info.tagList" :key="tag">{{
        tag
      }}</span>
    </div>
    <AuthorInfo
      @deleteSection="deleteArticle"
      :authorInfo="info"
      :id="info.slug"
    />
  </div>
</template>

<script>
import AuthorInfo from "@/components/AuthorInfo.vue";
import userManager from "@/utils/userDetails";
import { useRouter } from "vue-router";

export default {
  props: ["info"],
  components: {
    AuthorInfo,
  },
  setup() {
    const router = useRouter();

    const deleteArticle = async (id) => {
      let response = await fetch(
        "https://conduit.productionready.io/api/articles/" + id,
        {
          method: "DELETE",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
            Authorization: "Token " + userManager.user.value.token,
          },
        }
      );

      if (response.ok) {
        response = await response.json();
        // router.push({ name: "Home" });
        router.go();
      } else {
        console.log("error in deleting post");
      }
    };

    return { deleteArticle };
  },
};
</script>

<style>
.articleInfo {
  padding: 10px 0;
  border-bottom: olive;
  border-bottom-style: dotted;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  background: aliceblue;
}

.articleInfo:hover {
  background: #d7ecff;
  cursor: pointer;
}
.articleTag {
  background: palegoldenrod;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
  max-width: 90%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.articleTag::before {
  content: "#";
}
</style>
