<template>
  <div class="authorDetails">
    <div>
      <img :src="authorInfo.author.image" />
    </div>
    <div>
      <div>{{ authorInfo.author.username }}</div>
      <div>{{ updateDate }}</div>
    </div>
    <div class="myComment" v-if="user.username === authorInfo.author.username">
      <!-- <a @click.prevent="editComment(comment.id)">delete</a> -->
      <a @click.prevent="removeSection">delete</a>
    </div>
  </div>
</template>

<script>
import userManager from "@/utils/userDetails.js";
import { ref } from "@vue/reactivity";

export default {
  props: ["authorInfo", "id"],
  emits: ["deleteSection", "editSection"],
  setup(props, { emit }) {
    const { user } = userManager;
    const updateDate = new ref("");

    // console.log(props.authorInfo, props.id);
    const removeSection = () => {
      emit("deleteSection", props.id);
    };
    updateDate.value = props.authorInfo.updatedAt.split("T")[0];
    return { user, updateDate, removeSection };
  },
};
</script>

<style>
.authorDetails {
  text-align: left;
  display: flex;
  align-items: center;
  background: #fff0f1;
}

.authorDetails > div {
  display: inline-block;
}
.authorDetails img {
  width: 40px;
  padding: 10px;
  border-radius: 40px;
}

.myComment {
  flex-grow: 1;
  text-align: end;
  padding: 10px;
  text-decoration: underline;
}
</style>
