<template>
  <div class="commentList">
    <div v-for="comment in comments" :key="comment.id" class="commentBlock">
      <p>{{ comment.body }}</p>

      <AuthorInfo
        @deleteSection="deleteComment"
        :authorInfo="comment"
        :id="comment.id"
      />
    </div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import fetchComments from "@/utils/fetchComments";
import commentOperations from "@/utils/commentOperations.js";
import AuthorInfo from "@/components/AuthorInfo.vue";

export default {
  props: ["slugId"],
  components: {
    AuthorInfo,
  },
  setup(props) {
    const comments = new ref([]);

    const deleteComment = async (commentId) => {
      commentOperations.deleteComment(
        { slugId: props.slugId, commentId },
        updateComments
      );
    };

    const updateComments = () => {
      fetchComments(props.slugId, (res) => {
        comments.value = res;
      });
    };

    updateComments();
    return { comments, deleteComment, updateComments };
  },
};
</script>

<style>
.commentBlock {
  border: solid gray;
  margin: 10px 0;
}

.commentAuthorDetails {
  background: blanchedalmond;
}

.commentList {
  max-width: 720px;
  margin: 0 auto;
}
</style>
