<template>
  <div class="NavigationBar">
    <div>
      <h1>Nitin's Blogspot</h1>
    </div>
    <div id="nav">
      <div>
        <router-link :to="{ name: 'Home' }">Home</router-link>
      </div>
      <div v-if="user == ''">
        <router-link :to="{ name: 'SignIn' }">Login</router-link>
        <router-link :to="{ name: 'SignUp' }">SignUp</router-link>
      </div>
      <div v-else>
        <router-link :to="{ name: 'NewPost' }">Post Article</router-link>
        <a @click="onLogOut" class="logOutButton">Logout</a> | Hi
        {{ user.username }}!
      </div>
    </div>
  </div>
</template>

<script>
import userManager from "@/utils/userDetails";
import { useRouter } from "vue-router";

export default {
  setup() {
    let { user, logOut } = userManager;
    const router = useRouter();

    const onLogOut = () => {
      logOut(router);
    };
    return { user, onLogOut };
  },
};
</script>

<style>
.NavigationBar {
  display: flex;
  background: #fff7f0;
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%),
    inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
  padding: 0 10px;
}

#nav {
  padding: 30px;
  margin-left: auto;
}
#nav a {
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  color: #2c3e50;
}

#nav > div {
  display: inline-block;
}

#nav a.router-link-exact-active,
.logOutButton:hover {
  color: #42b983;
}
</style>
