<template>
  <div class="articlelist">
    <div v-for="article in articleList" :key="article.slug">
      <router-link
        :to="{ name: 'Article', params: { slug: article.slug } }"
        class="noDecoration"
      >
        <ArticleInfo :info="article" />
      </router-link>
    </div>
  </div>
</template>

<script>
import ArticleInfo from "@/components/ArticleInfo.vue";

export default {
  components: {
    ArticleInfo,
  },
  props: ["articleList"],
  setup() {},
};
</script>

<style>
.noDecoration {
  text-decoration: none;
}
</style>
