<template>
  <div class="tagList">
    <div v-if="tagList.length">
      <span
        class="articleTag"
        v-for="tag in tagList"
        :key="tag"
        @click="onTagClick(tag)"
        >{{ tag }}</span
      >
    </div>
    <div v-else>Loading Tags...</div>
  </div>
</template>

<script>
import tagsRequest from "@/utils/getTags";
import { ref } from "@vue/reactivity";

export default {
  emits: ["tagClick"],
  setup(props, { emit }) {
    let tagList = new ref([]);

    tagsRequest()
      .then((data) => {
        tagList.value = data.tags;
      })
      .catch((e) => {
        console.log(e);
      });

    const onTagClick = (tag) => {
      emit("tagClick", tag);
    };
    return { tagList, onTagClick };
  },
};
</script>

<style>
.tagList {
  width: 90%;
  margin: 10px auto;
  background: #f0f1ff;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
</style>
