<template>
  <NavigationBar />
  <router-view />
</template>

<script>
// import { defineComponent } from '@vue/composition-api'
import NavigationBar from "./components/NavigationBar.vue";

export default {
  components: { NavigationBar },
  setup() {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
}

form {
  width: 420px;
  background: aliceblue;
  border-radius: 10px;
  padding: 30px;
  margin: 30px auto;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  text-align: left;
  padding: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
  color: #686868;
}

input {
  display: block;
  width: 100%;
  line-height: 2em;
  border-radius: 8px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

button {
  position: relative;
  margin: auto 20px;
  width: 120px;
  height: 36px;
  border-radius: 18px;
  border: solid #1c89ff 2px;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
button:hover {
  background-color: transparent;
  border-color: greenyellow;
  transition: all 0.1s ease-in-out;
}

.failure {
  color: red;
  text-align: left;
}

a {
  cursor: pointer;
}
</style>
